@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: white;
  color: grey;
}
h1{
  font-family: 'MuseoModerno', cursive;
  color: red;
}

h1:hover {

}

.navbar {
  margin-left: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  position: fixed;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

p{
  font-family: 'Rokkitt', serif;
}
.Plorem{
  columns: 4 20em;
  color: Black;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

body {
  background: red;
}
.example-two,
.example-three,
.example-four,
.example-five {
  display: none;
}

@media (max-width: 480px) {
  .example-one {
    transform: rotate(90deg);
  }
}
@media (min-width: 480px) {
  .example-one {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
    background: green;
    color: #fff;
  }
  .example-two {
    display: block;
    font-size: 0.75em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: yellow;
  }
  .example-three {
    display: block;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background: black;
  }
  .example-three {
    display: none;
  }
  .example-four {
    display: block;
  }
}

@media (min-width: 1281px) {
  body {
    background: white;
  }
  .example-four {
    display: none;
  }
  .example-five {
    display: block;
  }
}
